<app-header></app-header>
<app-navbar></app-navbar>
<br>
<br>
<button class="btn btn-info" routerLink="/customer/create">Create Customer</button>
<table class="table table-hover" width="100%">
  <thead>
  <tr>
    <th>STT</th>
    <th>ID</th>
    <th>Name</th>
    <th>Gender</th>
    <th>DateOfBirth</th>
    <th>ID Card/th>
    <th>Phone</th>
    <th>Email</th>
    <th>Address</th>
    <th>Type of Customer</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of customers, index as i">
<!--  <tr *ngFor="let item of customers, index as i">-->
    <td>{{i+1}}</td>
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.gender}}</td>
    <td>{{item.dateOfBirth}}</td>
    <td>{{item.idCard}}</td>
    <td>{{item.phone}}</td>
    <td>{{item.email}}</td>
    <td>{{item.address}}</td>
    <td>{{item.customerType.name}}</td>
<!--    <td>-->
<!--      <ng-container *ngFor="let c of customerTypes">-->
<!--        <div *ngIf="c.id == customer.customerType">-->
<!--          <span>{{c.name}}</span>-->
<!--        </div>-->
<!--      </ng-container>-->
<!--    </td>-->
        <td><button [routerLink]="['/customer/edit', item.id]" class="btn btn-warning">Edit</button></td>
        <td><button (click)="removeCustomer(item.id)" class="btn btn-warning" type="button">Delete</button></td>
<!--        <td><button class="btn btn-warning" data-toggle="modal" data-target="#deleteModal" type="button">Delete</button></td>-->
  </tr>
  </tbody>
</table>
<app-footer></app-footer>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

