body {
    font-family: Arial;
}

/* bộ chọn riêng cho các phần tử trong danh sách:*/
#menu {
    height: 30px;
    padding: 0;
    margin: 0;
    background-color: #000000;
    border: 1px solid #CDCDCD;
}

#menu ul, #menu li {
    padding: 0;
    margin: 0;
}

#menu li {
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

/*bộ chọn dành cho các liên kết trong trình đơn, bộ chọn này sẽ cố định độ rộng của một mục chọn trong trình đơn, chiều cao,
cách hiển thị và định dạng về văn bản của các liên kết trong trình đơn.
 */
#menu li a {
    width: 100px;
    height: 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    background-color: black;
    color: white;
}

#menu ul ul li a {
    width: 200px;
    text-align: left;
    padding-left: 10px;}

/*}

/*!*bộ chọn dành cho trường hợp khi các liên kết được con trỏ đưa qua, bộ chọn sẽ chuyển màu nền của liên kết sang màu đỏ*!*/
#menu li a:hover{
    background-color: red;}
/*}

/*!*bộ chọn dành cho các danh sách con (trình đơn con) để quy định về vị trí hiển thị của chúng so với mục chọn của trình đơn cha *!*/

/*!*chúng ta có thể thấy các mục chọn của trình đơn con đang hiển thị lên và đè lên nhau,*/
/*chúng ta cần bổ sung thêm một mô tả với thuộc tính visibility cho bộ chọn #menu ul ul *!*/
/*#menu ul ul{*/
/*    position: absolute;*/
/*    top: 30px;*/
/*    left: 15px;*/
/*    visibility: hidden;*/
/*}*/

/*!*các trình đơn bị ẩn sẽ hiển thị mỗi khi con trỏ được đưa qua mục chọn của trình đơn cha*!*/
/*#menu ul li:hover ul{*/
/*    visibility: visible;*/
/*}*/

