<!-- Footer -->
<footer class="page-footer font-small indigo bg_footer">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Liên Hệ</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!"
            >103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son
              District, Danang City, Vietnam
            </a>
          </li>
          <li>
            <a href="#!">Tel: 84-236-3847 333/888 </a>
          </li>
          <li>
            <a href="#!">Email: reservation@furamavietnam.com</a>
          </li>
          <li>
            <a href="#!">GDS Codes: Amadeus-GD DADFUR</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Tuyển Dụng</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Furama Resort Danang always looks for new talents</a>
          </li>
          <li>
            <a href="#!">We offer interesting work to inquisitive </a>
          </li>
          <li>
            <a href="#!"
            >If you think Furama Resort Danang is the place for you</a
            >
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
          Lifestyle Blog
        </h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">LIFESTYLE BLOG ISSUE 01</a>
          </li>
          <li>
            <a href="#!">LIFESTYLE BLOG ISSUE 02</a>
          </li>
          <li>
            <a href="#!">LIFESTYLE BLOG ISSUE 03</a>
          </li>
          <li>
            <a href="#!">LIFESTYLE BLOG ISSUE 04</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Giá Công Bố</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Garden Superior</a>
          </li>
          <li>
            <a href="#!">Garden Deluxe</a>
          </li>
          <li>
            <a href="#!">Lagoon Superior</a>
          </li>
          <li>
            <a href="#!">One bedroom PS</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2023 Furama Resort Danang
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
