.bg_footer{
  background-image: url("../../assets/bg-ft-hd-form/bg.jpg");
}
a{
  font-size: 15px;
  color: white;
  font-weight: bold;
}
a:hover{
  background-color: #209e20;
  text-decoration: none;
  font-size: 18px;
  color: #fd0000;
  font-weight: bold;
}
