<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--Navbar search-->
<div th:fragment="navNoSearch">
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #0f5132">

        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/product" style="color: white">Product</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!--Nav search end-->


</body>
</html>