<!--<app-header></app-header>-->
<!--<app-navbar></app-navbar>-->
<!--<button class="btn btn-info" routerLink="/contract/create">Create Contract</button>-->
<!--<table class="table table-hover" width="100%">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>STT</th>-->
<!--    <th>ID</th>-->
<!--    <th>Customer</th>-->
<!--    <th>Facility</th>-->
<!--    <th>Date Start</th>-->
<!--    <th>Date End/th>-->
<!--    <th>Pre-Payment</th>-->
<!--    <th>Edit</th>-->
<!--    <th>Delete</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let item of contracts, index as i" (click)="this.contract=item">-->
<!--    &lt;!&ndash;  <tr *ngFor="let item of customers, index as i">&ndash;&gt;-->
<!--    <td>{{i+1}}</td>-->
<!--    <td>{{item.id}}</td>-->
<!--    <td>{{item.customer}}</td>-->
<!--    <td>{{item.facility}}</td>-->
<!--    <td>{{item.cost}}</td>-->
<!--    <td>{{item.standard}}</td>-->
<!--    <td>{{item.floor}}</td>-->
<!--    <td>{{item.other}}</td>-->
<!--    <td><button [routerLink]="['/facility/edit', item.id]" class="btn btn-warning">Edit</button></td>-->
<!--    <td><button (click)="remove(item.id)" class="btn btn-warning">Delete</button></td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<!--<app-footer></app-footer>-->

