<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View Product</h3>
<p>
    <a th:href="@{/product/list}">
        Back to Product list
    </a>
</p>
<div th:object="${product}">
    <div>
        <label>ID:</label>
        <label th:text="${product.id}"></label>
    </div>
    <div>
        <label>Name:</label>
        <label th:text="${product.name}"></label>
    </div>
    <div>
        <label>Price:</label>
        <label th:text="*{price}"></label>
    </div>
    <div>
        <label>Producer:</label>
        <label th:text="*{producer}"></label>
    </div>
    <div>
        <label>Description:</label>
        <label th:text="*{description}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>