<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Edit Product</h3>
<p>
    <a th:href="@{/product/list}">
        Back to Product list
    </a>
</p>
<div id="form">
    <form th:action="@{/product/update}" method="POST" th:object="${product}">
        <div>
            <label>ID: </label>
            <label th:text="*{id}"></label>
        </div>
<!--        <input type="hidden" th:field="*{id}"/>-->
<!--        <label>ID</label>-->
<!--        <input type="text" th:field="*{id}"/>-->
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Price</label>
            <input type="text" th:field="*{price}"/>
        </div>
        <div>
            <label>Producer</label>
            <input type="text" th:field="*{producer}"/>
        </div>
        <div>
            <label>Description</label>
            <input type="text" th:field="*{description}"/>
        </div>
        <input type="submit" value="Update"/> |
        <input type="reset" value="Reset">
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>